.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.7rem;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.addWalletBtn {
    padding: 1rem 2rem;
    font-size: 2.2rem;
    background: #07A0EE;
    border-radius: 1.3rem;
    font-weight: 700;
}

a {
    all: unset;
    cursor: pointer;
}

.mainPageWrapper {
    padding: 3rem 2rem;
}

.questionsTabs {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.questionsTab {
    font-size: 2.2rem;
    font-weight: 500;
    color: #07A0EE;
}

.myQuestionsTab {
    font-size: 2.2rem;
    font-weight: 500;
}

.questionsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}