.AnswerWrapper {
    background: #ffffff;
    mix-blend-mode: lighten;
    border-radius: 1.5rem;
    padding: 1.8rem;
    width: 100%;
}

.answerFooter {
    display: flex;
    justify-content: space-between;
}

.giveRewardBtn {
    all: unset;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background: #07A0EE;
    border-radius: 1.3rem;
    font-weight: 700;
}

.answerTitle {
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    color: black;
    max-height: 10rem;
    overflow: hidden;
    text-decoration: underline;
    cursor: pointer;
}

.answerText {
    color: black;
    font-size: 1.5rem;
    word-wrap: break-word;
}

.answerDate {
    margin-top: 1.3rem;
    color: black;
    font-size: 1.5rem;
}